@import url('https://fonts.googleapis.com/css2?family=Delius&family=Galindo&family=Jersey+10&display=swap');

* {
  font-family: "Jersey 10", sans-serif;
  font-weight: normal;
}

.home-content {
  background-image: url(assets/background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-controls {
  display: flex;
  gap: 20px
}

.motivation-quotes {
  font-size: 24px;
  color: #b16ccd;
  margin-bottom: 20px;
  transition: opacity 0.5s ease;
}

motivation-quotes.hidden {
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 40px;
  height: auto;
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
}

.image-button img {
  width: 100px;
  height: auto;
}

.home-timer {
  font-size: 60px;
  color: #b16ccd;
  margin: 0;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
}

.home-button img {
  width: 100px;
  height: auto;
}

.motivation-quotes {
  font-size: 24px;
  color: #b16ccd;
}

.hidden {
  display: none;
}